.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
}

.myModalContent {
    padding: 20px;
    background: white;
    border-radius: 10px;
    min-width: 500px;
    font-size: 26px;
}
img {
    max-width: 600px;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    color: red;
    font-size: 32px;
    background-color: yellow;
    margin: 10px;
}